<div class="pt-8"><app-title-block /></div>

<h1 class="my-2 text-xl text-red-900">Completed stories</h1>
@for (story of retrievedStories(); track story.storyId) {
<div class="px-6 py-2">
    <h2 class="text-lg font-bold text-left mt-3">{{ story.title }} </h2>
    <h3 class="font-bold text-left text-gray-600">A {{ story.genre }} story of {{ story.words.length }} words</h3>
    <!-- <h3 class="text-lg font-light">{{ story.authors | authorList}}</h3> -->
    <div #storyBodyText class="typewriter-text text-left mt-2">
        @for (storyWord of story!.words; track $index) {
            @if (storyWord.word.startsWith("\\")){
            <br /><br />{{ storyWord.word.slice(1, storyWord.word.length) }}&nbsp;
            }@else {
            {{ storyWord.word }}&nbsp;
            }
        }
    </div>
</div>
}

@if (retrievedStories()!.length === 0) {
<div>There are no currently completed stories to read.</div>
}
<div class="flex flex-row m-auto w-fit gap-2 mt-3">
    <button (click)="handleRefresh($event)"
        class=" bg-neutral-100 hover:bg-neutral-200 text-black py-1 px-2 rounded-xl border-black border">
        Refresh list
    </button>
</div>

<app-actionbar />