<div class="pt-8"><app-title-block /></div>

@if (retrievedStory()){

<section id="title-block" class="bg-white text-black shadow-neutral-400 shadow-sm p-2">
    <h1 class="text-xl font-bold">{{ retrievedStory()!.title }}</h1>
    <h2 class="font-semibold">a {{ retrievedStory()!.genre! }} story by {{ retrievedStory()!.authors! | authorList}}
    </h2>
    @if(stateInProgress() || stateAwaitingAuthors()){
        <h3 class="text-sm">of {{ retrievedStory()!.wordLimit }} words or fewer</h3>
    }@else {
        <h3 class="text-sm">of {{ retrievedStory()!.words.length }} words</h3>
    }
</section>

@if (messages()){
<section id="messages">
    <div class="h-max p-2 bg-red-950 text-sm text-white">{{ messages() }}</div>
</section>
}

@if (stateAwaitingAuthors() && thisAuthorIsCreator() && !storyEnded()){
<div class="flex justify-center">
    <button (click)="beginStory()" [disabled]="retrievedStory()!.authors.length < 2"
        [class.bg-red-500]="retrievedStory()!.authors.length >= 2"
        class="btn typewriter-text bg-neutral-300 w-max mt-3">Begin story</button>
</div>
}@else if(stateAwaitingAuthors() && !storyEnded() && retrievedStory()!.authors.length > 0){
<div class="alert alert-info">Waiting for {{ creatorName() }} to begin the story</div>
}

<!-- need to calculate max playfield height based on viewpoint height, accounting for actionbar -->
<section id="playfield" [class.bg-amber-50]="isThisAuthorsTurn()" [class.bg-neutral-300]="!isThisAuthorsTurn()"
    [class.bg-neutral-100]="storyEnded()" class="w-full h-80 overflow-y-scroll mt-3 p-3 typewriter-text">

    <div #storyBodyText class="text-left align-middle text-lg">
        @for (storyWord of retrievedStory()!.words; track $index) {
        @if (storyWord.word.startsWith("\\")){
        <br /><br />{{ storyWord.word.slice(1, storyWord.word.length) }}&nbsp;
        }@else {
        {{ storyWord.word }}&nbsp;
        }
        }
        @if (stateInProgress()){
        <div class="badge badge-info w-fit h-fit text-center ml-2 p-1" [class.bg-black]="wordLimitReached()"
            [class.text-white]="wordLimitReached()">
            <span class="text-sm font-bold">{{ retrievedStory()!.words.length }}/{{ retrievedStory()!.wordLimit }}</span>
            <span class="text-xs">words</span>
        </div>
        }
    </div>
        @if (isThisAuthorsTurn()
        && stateInProgress()
        && retrievedStory()!.authors.length > 1
        && retrievedStory()!.words.length < retrievedStory()!.wordLimit){
        <div class="flex flex-row mt-3">
            <label class="input bg-white w-full">
                <input [(ngModel)]="wordToAdd" (keyup.enter)="addWord()" appRestrictStoryword autocapitalize="none"
                    placeholder="Your word" class="text-gray-500 font-semibold" />
            </label>
            <button class="btn bg-black text-white rounded-r-full" (click)="addWord()">Add</button>
    </div>
    <p class="text-xs text-left text-gray-500 px-2 mt-2">Hints: start your word with \ (back-slash) to begin a new paragraph.</p>

    }@else if(stateInProgress() && retrievedStory()!.authors.length > 1) {
    <div class="mt-3 text-gray-500 text-left">
        @if(!wordLimitReached()){
        Waiting for {{ currentAuthorTurnName() }}...
        }@else {
        You've reached the word limit! Time for someone to either edit the last word, or end the story...
        }
    </div>
    }
</section>
} @else {
<h1 class="text-xl text-red-900">Story not found. Maybe you should <a routerLink="/stories/new"
        class="text-red-500 underline">start a new one</a>?</h1>
}

<section id="action-buttons">
    <div class="fixed bottom-0 left-0 w-full py-2 flex-col justify-center items-center
bg-red-500 text-white hover:text-neutral-100 mt-8">
        <div class="flex justify-evenly gap-2">
            <a type="button" (click)="leave()" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                </svg>
                <div class="flex justify-center uppercase text-xs">leave</div>
            </a>

            @if (stateInProgress()
                    && !storyEnded()
                    && retrievedStory() != undefined
                    && retrievedStory()!.words.length > 0){
            <a type="button" (click)="voteToEdit()" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                </svg>

                <div class="flex justify-center uppercase text-xs">edit</div>
            </a>
            
            <a type="button" (click)="voteToEnd()" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9" />
                </svg>

                <div class="flex justify-center uppercase text-xs">end</div>
            </a>
            }            
        </div>
    </div>
</section>


<dialog #dialogEnterName class="modal">
    <div class="modal-box bg-neutral-100">
        <p class="py-2">Please enter your author name.</p>
        <input type="text" [(ngModel)]="authorName" minlength="1" maxlength="10" required (keyup.enter)="joinStory()"
            class="input bg-white w-max" placeholder="Enter your name (1-10 characters)" />
        <div class="modal-action typewriter-text">
            <button (click)="joinStory()" class="btn bg-red-500 w-max">Let's go</button>
            <button (click)="closeEnterNameDialog()" class="btn w-max">Cancel</button>
        </div>
        @if(showAuthorNameClashMessage()) {
        <div class="alert alert-error mt-3">Sorry, that author name has already been taken for this story. Please try
            another.</div>
        }
        @if(showAuthorNameInvalid()){
        <div class="alert alert-error mt-3">Your author name must be between 3 and 10 characters.</div>
        }
    </div>
</dialog>

<dialog #dialogLeave class="modal">
    <div class="modal-box bg-neutral-100">
        <p class="py-2">Are you sure you want to leave this story?</p>
        <div class="modal-action typewriter-text">
            <button (click)="confirmLeaveStory()" class="btn bg-red-500 w-max">Yes</button>
            <button (click)="this.dialogLeave.nativeElement.close()" class="btn w-max">Cancel</button>
        </div>
    </div>
</dialog>

<dialog #dialogError class="modal">
    <div class="modal-box bg-neutral-100">
        <p class="py-2">{{ errorDialogText() }}</p>
        <div class="modal-action typewriter-text">
            <button (click)="this.dialogError.nativeElement.close()" class="btn w-max">Cancel</button>
        </div>
    </div>
</dialog>

<dialog #dialogVote class="modal">
    <div class="modal-box bg-neutral-100">
        @if(voteIsActive()){
        <p class="py-2">{{ voteProposedBy() }} votes to {{ voteType() }}</p>
        }
        <!-- show voting buttons if you haven't voted yet -->
        @if (voteIsActive() && !hasVoted()){
        <div class="modal-action typewriter-text flex justify-between">
            <button (click)="makeVote(true)" class="btn bg-red-500 w-max">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path
                        d="M7.493 18.5c-.425 0-.82-.236-.975-.632A7.48 7.48 0 0 1 6 15.125c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75A.75.75 0 0 1 15 2a2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23h-.777ZM2.331 10.727a11.969 11.969 0 0 0-.831 4.398 12 12 0 0 0 .52 3.507C2.28 19.482 3.105 20 3.994 20H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 0 1-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227Z" />
                </svg>


            </button>
            <button (click)="makeVote(false)" class="btn w-max">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path
                        d="M15.73 5.5h1.035A7.465 7.465 0 0 1 18 9.625a7.465 7.465 0 0 1-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 0 1-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.499 4.499 0 0 0-.322 1.672v.633A.75.75 0 0 1 9 22a2.25 2.25 0 0 1-2.25-2.25c0-1.152.26-2.243.723-3.218.266-.558-.107-1.282-.725-1.282H3.622c-1.026 0-1.945-.694-2.054-1.715A12.137 12.137 0 0 1 1.5 12.25c0-2.848.992-5.464 2.649-7.521C4.537 4.247 5.136 4 5.754 4H9.77a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23ZM21.669 14.023c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.958 8.958 0 0 1-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227Z" />
                </svg>

            </button>
        </div>
        }

        @if(voteIsActive() && voteSummary() && voteSummary()!.length > 0){
        <div class="flex flex-col text-center alert alert-info px-2 mt-3 gap-0">
            @for (vote of voteSummary(); track vote.authorName) {
            <div class="flex gap-1">
                {{ vote.authorName }}

                @if (vote.voteForDisplay === true){
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
                </svg>
                }@else if(vote.voteForDisplay === false){
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
                </svg>
                }@else {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                </svg>
                }
            </div>
            }
        </div>
        }

        <div class="my-2 text-sm text-red-900">
            @if(!voteIsActive()){
            {{ voteOutcome() }}
            }@else {
            Waiting for votes...
            }
        </div>

        @if (!voteIsActive()){
        <div class="flex justify-center typewriter-text mt-2">
            <button (click)="closeVoteDialog()" class="btn bg-neutral-500 w-max">OK</button>
        </div>
        }
    </div>
</dialog>