<div class="pt-8"><app-title-block /></div>

@if (retrievedStory()){

<section id="title-block" class="bg-white text-black shadow-neutral-400 shadow-sm p-2">
    <h1 class="text-xl font-bold">{{ retrievedStory()!.title }}</h1>
    <h2 class="font-semibold">a story by {{ retrievedStory()!.authors! | authorList}}</h2>
</section>

@if (messages()){
<section id="messages">
    <div class="h-max p-2 bg-red-950 text-sm text-white">{{ messages() }}</div>
</section>
}

@if (stateAwaitingAuthors() && thisAuthorIsCreator() && !stateInProgress()){
<div class="flex justify-center">
    <button (click)="beginStory()" [disabled]="retrievedStory()!.authors.length < 2"
        [class.bg-red-500]="retrievedStory()!.authors.length >= 2"
        class="btn typewriter-text bg-neutral-300 w-max mt-3">Begin story</button>
</div>
}

<!-- need to calculate max playfield height based on viewpoint height, accounting for actionbar -->
<section id="playfield" [class.bg-amber-50]="isThisAuthorsTurn()" [class.bg-neutral-300]="!isThisAuthorsTurn()"
    class="w-full h-80 overflow-y-scroll mt-3 p-3 typewriter-text">

    <div #storyBodyText class="text-lg text-left">
        @for (storyWord of retrievedStory()!.words; track $index) {
        @if (storyWord.word.startsWith("\\")){
        <br /><br />{{ storyWord.word.slice(1, storyWord.word.length) }}&nbsp;
        }@else {
        {{ storyWord.word }}&nbsp;
        }
        }
    </div>


    @if (isThisAuthorsTurn() && stateInProgress() && retrievedStory()!.authors.length > 1){
    <div class="flex mt-3">
        <label class="input bg-white w-full">
            <input [(ngModel)]="wordToAdd" (keyup.enter)="addWord()" appRestrictStoryword [autocapitalize]="turnOnAutoCapitalize()"
                placeholder="Your word" class="text-gray-500 font-semibold" />
        </label>
        <button class="btn bg-black text-white rounded-r-full" (click)="addWord()">Add</button>
    </div>
    <p class="text-xs text-left text-gray-500 px-2 mt-2">Hints: start you word with <strong>\</strong> (back-slash) to begin
        a new paragraph.</p>

    }@else if(stateInProgress() && retrievedStory()!.authors.length > 1) {
    <div class="flex mt-3 text-gray-500">
        Waiting for {{ currentAuthorTurnName() }}...
    </div>
    }
</section>
} @else {
<h1 class="text-xl text-red-900">Story not found. Maybe you should <a routerLink="/stories/new" class="text-red-500 underline">start a new one</a>?</h1>
}

<section id="action-buttons">
    <div class="fixed bottom-0 left-0 w-full py-2 flex-col justify-center items-center
bg-red-500 text-white hover:text-neutral-100 mt-8">
        <div class="flex justify-evenly gap-2">
            <a type="button" (click)="leave()" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
                </svg>
                <div class="flex justify-center uppercase text-xs">leave</div>
            </a>

            <a type="button" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9.75 14.25 12m0 0 2.25 2.25M14.25 12l2.25-2.25M14.25 12 12 14.25m-2.58 4.92-6.374-6.375a1.125 1.125 0 0 1 0-1.59L9.42 4.83c.21-.211.497-.33.795-.33H19.5a2.25 2.25 0 0 1 2.25 2.25v10.5a2.25 2.25 0 0 1-2.25 2.25h-9.284c-.298 0-.585-.119-.795-.33Z" />
                </svg>

                <div class="flex justify-center uppercase text-xs">edit</div>
            </a>

            <a type="button" class="cursor-pointer hover:text-neutral-300">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0 1 20.25 6v12A2.25 2.25 0 0 1 18 20.25H6A2.25 2.25 0 0 1 3.75 18V6A2.25 2.25 0 0 1 6 3.75h1.5m9 0h-9" />
                </svg>

                <div class="flex justify-center uppercase text-xs">end</div>
            </a>
        </div>
    </div>
</section>


<dialog #dialogEnterName class="modal">
    <div class="modal-box bg-neutral-100">
        <p class="py-2">Please enter your author name.</p>
        <input type="text" [(ngModel)]="authorName" minlength="1" maxlength="10" required (keyup.enter)="joinStory()" class="input bg-white w-max"
            placeholder="Enter your name (1-10 characters)" />
        <div class="modal-action typewriter-text">
            <button (click)="joinStory()" class="btn bg-red-500 w-max">Let's go</button>
            <button (click)="closeEnterNameDialog()" class="btn w-max">Cancel</button>
        </div>
        @if(showAuthorNameClashMessage()) {
        <div class="alert alert-error mt-3">Sorry, that author name has already been taken for this story. Please try another.</div>
        }
        @if(showAuthorNameInvalid()){
        <div class="alert alert-error mt-3">Your author name must be between 3 and 10 characters.</div>
        }
    </div>
</dialog>

<dialog #dialogLeave class="modal">
    <div class="modal-box bg-neutral-100">
        <p class="py-2">Are you sure you want to leave this story?</p>
        <div class="modal-action typewriter-text">
            <button (click)="confirmLeaveStory()" class="btn bg-red-500 w-max">Yes</button>
            <button (click)="this.dialogLeave.nativeElement.close()" class="btn w-max">Cancel</button>
        </div>
    </div>
</dialog>