<div class="w-[75%] m-auto pt-32">
    <app-title-block />
    <hr class="pb-2 text-red-900"/>
    <div class="text-xl text-red-900">The antidote to generative AI</div>    

    <div class="loading loading-spinner loading-xl my-6"></div>

    <div class="typewriter-text text-2xl text-red-900">{{ randomWelcomeMessage() }}...</div>

    <h3 class="text-sm text-black mt-12">A collaborative story-writing game,<br/>created by Rob Chilcott &copy; 2025</h3>
    <h4 class="text-xs text-gray-800 mt-2">24/10/2025-19.10</h4>
</div>
