@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Special Elite';
  src: url('assets/fonts/SpecialElite.ttf') format('truetype');
}

.typewriter-text {
  font-family: 'Special Elite', monospace;
}
